- if @credit_card.errors.full_messages.any?
  .alert.alert-error
    %a.close{"data-dismiss" => "alert", :href => "#"} ×
    %ul
      - @credit_card.errors.full_messages.each do |message|
        %li= message
.row
  .span2
    %h3=t('orders.checkout')
  .span9.offset1
    %ul.breadcrumb.pull-right
      %li 
        %h5.blue_text BILLING ADDRESS 
        %span.divider >>
      %li 
        %h5.blue_text SHIPPING ADDRESS 
        %span.divider >>
      %li 
        %h5.blue_text DELIVERY
        %span.divider >>
      %li 
        %h5.blue_text PAYMENT
        %span.divider >>
      %li 
        %h5.text CONFIRM
        %span.divider >>
      %li 
        COMPLETE
  .span12
    %h4=t('orders.confirm')
  .span3
    = form_for @credit_card do |f|
      %fieldset
        %legend EDIT CREDIT CARD
        %p= f.text_field :number, placeholder: "Card Number", class: "span3"
        %p="Expiration Date:"
        %p= f.date_select :expiration_date, {order: [:month, :year], discard_day: true, prompt: {month: 'Month', year: 'Year'}}, class: "date"
        %p= f.text_field :cvv, placeholder: "Card Code", class: "span2"
        %p= f.submit t('credit_cards.submit'), class: "btn btn-primary"