.container
  = link_to "Home", books_path
  = link_to "Shop", categories_path
  .links
    = link_to "Shopping Cart", shopping_cart_path
    = link_to "Orders", orders_path
    = link_to "Settings", edit_customer_registration_path
    = link_to "Sign out", destroy_customer_session_path, method: :delete
  %h3 Checkout
  %h3 CONFIRM
  .confirm_info
    %strong Address 
    = link_to "Edit", edit_address_path(@order.address)
    %p= @order.address.address
    %p= @order.address.city
    %p= @order.address.zip_code
    %p= @order.address.phone
  .confirm_info
    %strong Payment Information
    = link_to "Edit", edit_credit_card_path(@order.credit_card)
    %p**** **** **** #{@order.credit_card.cvv}
    %p= @order.credit_card.expiration_month
    %p= @order.credit_card.expiration_year
  %table
    %tr
      %th Image
      %th Book title
      %th Price
      %th Quantity
      %th Total
    - @order.order_items.each do |order_item|
      %tr
        %td= image_tag(order_item.book.image, size: "100x75", class: "image")
        %td.col_title= order_item.book.title
        %td.col_table $ #{order_item.book.price}
        %td.col_table= order_item.quantity
        %td.col_table $ #{order_item.price}
  .subtotal    
    %strong SUBTOTAL: $ #{@order.total_price}
    = form_for @order, url: order_path(@order), method: :patch do |f|
      %p
        = f.submit "Place Order"
