.row
  .span12
    .row
      .span12
        %h3=t('orders.title')
      - unless @order.order_items.count == 0
        .span12
          %h4=t('orders.in_progress')
        .span12
          %table.table.table-striped
            %tr
              %th.col_image=t('order_items.image')
              %th.col_book=t('order_items.book')
              %th.col_price=t('order_items.book_price')
              %th.col_quantity=t('order_items.quantity')
              %th.col_total=t('order_items.total')
            - @order.order_items.each do |order_item|
              %tr
                %td
                  = image_tag(order_item.book.image, size: "150x100", class: "image")
                %td
                  %h4= order_item.book.title
                  %p #{order_item.book.description.first(500)}...
                %td $ #{order_item.book.price}
                %td= order_item.quantity
                %td $ #{order_item.price}
        .span12.span12.order_price_content
          .row
            .span2
              = button_to t('orders.go_to_cart'), shopping_cart_path, method: :get, class: "btn btn-info"
            .span2.offset8
              %p SUBTOTAL: $#{@order.price_without_delivery}
      - unless @orders.in_queue.count == 0
        .span12
          %h4 WAITING FOR PROCESSING
        .span6
          %table.table.table-striped
            %tr
              %th=t('orders.number')
              %th=t('orders.completed_at')
              %th=t('orders.total')
              %th
            - @orders.in_queue.each do |order|
              %tr
                %td R#{order.id}
                %td= order.completed_at
                %td $ #{order.total_price}
                %td= link_to t('orders.view'), order_path(order), class: 'link', method: :get
      - unless @orders.in_delivery.count == 0
        .span12
          %h4=t('orders.in_delivery')
        .span6
          %table.table.table-striped
            %tr
              %th=t('orders.number')
              %th=t('orders.completed_at')
              %th=t('orders.total')
              %th
            - @orders.in_delivery.each do |order|
              %tr
                %td R#{order.id}
                %td= order.completed_at
                %td $ #{order.total_price}
                %td= link_to t('orders.view'), order_path(order), class: 'link', method: :get
      - unless @orders.delivered.count == 0
        .span12
          %h4=t('orders.delivered')
        .span6
          %table.table.table-striped
            %tr
              %th=t('orders.number')
              %th=t('orders.completed_at')
              %th=t('orders.total')
              %th
            - @orders.delivered.each do |order|
              %tr
                %td R#{order.id}
                %td= order.completed_at
                %td $ #{order.total_price}
                %td= link_to t('orders.view'), order_path(order), class: 'link', method: :get