.container
  = link_to "Home", books_path
  = link_to "Shop", categories_path
  .links
    = link_to "Shopping Cart", shopping_cart_path
    = link_to "Orders", orders_path
    = link_to "Settings", edit_customer_registration_path
    = link_to "Sign out", destroy_customer_session_path, method: :delete
  %h3 Shopping Cart
  %table
    %tr
      %th Image
      %th Book title
      %th Price
      %th Quantity
      %th Total
    - @order.order_items.each do |order_item|
      %tr
        %td= image_tag(order_item.book.image, size: "100x75", class: "image")
        %td.col_title= order_item.book.title
        %td.col_table $ #{order_item.book.price}
        %td.col_table= order_item.quantity
        %td.col_table $ #{order_item.price}
        %td.col_table= link_to 'Remove', order_order_item_path(order_item.order, order_item), method: :delete
  .subtotal    
    %strong SUBTOTAL: $ #{@order.total_price}
    %p 
      = button_to "Checkout", new_address_path, method: :get