.row
  .span12
    = link_to '<< Back to orders', orders_path
  .span12
    %h3 Order R#{@order.id}
    %h4 #{@order.state}
  .span12
    %table.table.table-striped
      %tr
        %th.col_image=t('order_items.image')
        %th.col_book=t('order_items.book')
        %th.col_price=t('order_items.book_price')
        %th.col_quantity=t('order_items.quantity')
        %th.col_total=t('order_items.total')
      - @order.order_items.each do |order_item|
        %tr
          %td= image_tag(order_item.book.image, size: "150x100", class: "image")
          %td
            %h4= order_item.book.title
            %p #{order_item.book.description.first(500)}...
          %td $ #{order_item.book.price}
          %td= order_item.quantity
          %td $ #{order_item.price}
  .span12.order_price_content
    .row
      .span2.offset10
        %p SUBTOTAL: $#{@order.price_without_delivery}
        %p SHIPPING: $#{@order.delivery.price}
  .span12.order_price_content
    .row
      .span2.offset10
        %p ORDER TOTAL: $#{@order.total_price}