#myCarousel.carousel.slide
  .carousel-inner
    .active.item
      .media
        %h3.media-heading= @books.last.title
        - @books.last.authors.each do |author|
          %strong
            by #{author.first_name} #{author.last_name}
        .media-body
          = image_tag(@books.last.image, size: "200x150", class: "media-object")
          %p= @books.last.description
          %h4
            $ #{@books.last.price}
          = form_for @order_item, url: order_order_items_path(@order), html: {class: "form-inline"} do |f|
            = f.text_field :quantity, class: "input-mini"
            = f.hidden_field :book_id, value: @books.last.id
            = f.submit t('books.submit'), class: "btn btn-primary"
    - @books.each do |book|
      .item
        %h3.media-heading= book.title
        - book.authors.each do |author|
          %strong
            by #{author.first_name} #{author.last_name}
        .media-body
          = image_tag(book.image, size: "200x150", class: "media-object")
          %p= book.description
          %h4
            $ #{book.price}
          = form_for @order_item, url: order_order_items_path(@order), html: {class: "form-inline"} do |f|
            = f.text_field :quantity, class: "input-mini"
            = f.hidden_field :book_id, value: book.id
            = f.submit t('books.submit'), class: "btn btn-primary"
  %a.carousel-control.left{"data-slide" => "prev", href: "#myCarousel"} ‹
  %a.carousel-control.right{"data-slide" => "next", href: "#myCarousel"} ›