- if resource.errors.full_messages.any?
  .alert.alert-error
    %a.close{"data-dismiss" => "alert", :href => "#"} ×
    %ul
      - resource.errors.full_messages.each do |message|
        %li= message
.devise_form
  .for_img
    = link_to image_tag("facebook.png", :border => 0), customer_omniauth_authorize_path(:facebook)
    or
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    = f.email_field :email, :autofocus => true, placeholder: "Your email", class: "span3"
    = f.password_field :password, placeholder: "Password", class: "span3"
    - if devise_mapping.rememberable?
      %label.checkbox
        = f.check_box :remember_me
        Remember me
      = f.submit "Sign in", class: "btn btn-primary"
  Don't have an account?    
  = link_to t('links.sign_up'), new_customer_registration_path