.container
  = link_to t('links.home'), books_path
  = link_to t('links.shop'), categories_path
  .links
    = link_to t('links.shopping_cart'), shopping_cart_path
    = link_to t('links.orders'), orders_path
    = link_to t('links.settings'), edit_customer_registration_path
    = link_to t('links.sign_out'), destroy_customer_session_path, method: :delete
  %h3=t('orders.checkout')
  %h3=t('orders.address')
  = form_for @address, url: address_path, method: :patch do |f|
    %p
      = f.label :street_address
      = f.text_field :address
    %p
      = f.label :city
      = f.text_field :city
    %p
      = f.label :zip_code
      = f.text_field :zip_code
    %p
      = f.label :phone
      = f.text_field :phone
    %p
      = f.submit t('addresses.submit')