.row
  %h2=t('categories.shop')
  .span10
    .row
      - @books.each do |book|
        .span3
          = image_tag(book.image, size: "270x150")
          %p.book_title= link_to book.title, book_path(book) 
          %p.book_price $ #{book.price}
    = paginate @books
  .span2 
    %h4=t('categories.shop_by_categories')
    %ul.category
      - @categories.each do |category|
        %li
          %p= link_to category.title, category_path(category)